<h1>Pick Your Abilities</h1>
<h2>Roll a <button id="rollAbilitiesButton">d20</button> for your ability scores!</h2>

<!---strength  --->
<!--- dexterity --->
<!--- constitution --->
<!--- intelligence --->
<!--- wisdom --->
<!--- charisma --->