<h1>Name Your Character</h1>
<form action="/character-creator" method="POST">
    <input type="text" name="characterName" placeholder="Enter character name" required>
    <button type="submit">Next</button>
    <!-- submittas och fångas upp i character controller? -->
</form>